body{
    font-family: Cormorant SC, 'Courier New', Courier, monospace ;
    font-size: 20px;
}
.button-my{
    width: 200px;
    height: 30px;   
    background-color: #C7998C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    border: none;
    line-height: 21px;
    color: #000000;
    cursor: pointer;
    font-family: g;
    font-style: normal;
    font-size: 20px;
}
.mybody{
    font-family: Cormorant SC, 'Courier New', Courier, monospace ;
    font-size: 16px;
}
.mycard {
    width: 330px;
    height: 400px; 
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Cormorant SC, 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
}
.margincard {
margin-bottom: 1rm;
}